<header class="header">

    <h1 class="header-heading">
        <a href=""class="header-link">
            ESTOQUE
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
                <li class="menu-item">
                    <p>teste1</p>
                </li>
                <li class="menu-item">
                    <p>teste2</p>
                </li>
                <li class="menu-item">
                    <p>teste3</p>
                </li>
    </nav>

</header>