{% extends 'global/base.html' %}

{% block content %}

   
       
        <form action="{% url 'stock:filtro' %}" method="post">
            {% csrf_token %}
            <label for="filtro" class="label">Categoria:</label>
            <select id="filtro" class="select" name="categoria">
                <option value="capa" class="option">---</option>
                {% for categoria in categorias %}
                    <option value="{{categoria.name}}" class="option">{{categoria}}</option>
                    
                {% endfor %}
                 <input class="btn" type="submit" value="Enviar" style="margin-left: 2vh;">
            </select>
           
        </form>
        
            


    <div class="search" style="margin: 5vh;">
        <form action="{% url 'stock:pesquisa' %}" method="get">
            <input type="text" class="search-input" placeholder="Pesquisa" id="search" name="q">
        </form>
    </div>



{%if page_obj %}
 

    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Contacts 
            </caption>

            <!--Aonde você coloca os títulos da tabela-->
            <thead>
                <tr class="table-row table-row-header">
                    <!--cada titulo-->
                    <th class="table-header" style="text-align: center;">Id</th>
                    <th class="table-header" style="text-align: center;">Nome</th>
                    <th class="table-header" style="text-align: center;">Descrição</th>
                    <th class="table-header" style="text-align: center;">Marca</th>
                    <th class="table-header" style="text-align: center;">Preço</th>
                    <th class="table-header" style="text-align: center;">Fornecedor</th>
                    <th class="table-header" style="text-align: center;">Categoria</th>
                    <th class="table-header" style="text-align: center;">Quantidade</th>
                    <th class="table-header" style="text-align: center;">Adicionar</th>
                    <th class="table-header" style="text-align: center;">Remover</th>
                    
                </tr>
            </thead>
            <!--corpo da tabela-->
            <tbody>

                {% for item in page_obj%}

                    <tr class="table-row">
                        <td class="table-cel" style="text-align: center;">
                            <!--passando parâmetro pela url dinâmica-->
                            <a href="{% url 'stock:item' item.id %} " class="table-link">
                                {{item.id}}
                            </a>
                        </td>
                        <td class="table-cel" style="text-align: center;">
                            {{item.name}}
                        </td>
                        <td class="table-cel" style="text-align: center;">
                            {{item.description}}
                        </td>
                        <td class="table-cel" style="text-align: center;">
                            {{item.marca}}
                        </td>   
                        <td class="table-cel" style="text-align: center;">
                            {{item.preco}}
                        </td>
                        <td class="table-cel" style="text-align: center;">
                            {{item.fornecedor}}
                        </td>
                        <td class="table-cel" style="text-align: center;">
                            {{item.categoria.name}}
                        <td class="table-cel" style="text-align: center;">
                            {{item.quantidade}}
                        </td>
                        </td>
                        <td class="table-cel">
                            <a href="{% url 'stock:add' item.id %}"><button class="btn" style="width: 10vh;">+</button></a>
                        </td>
                        <td class="table-cel">
                            <a href="{% url 'stock:remove' item.id %}"><button class="btn" style="background-color: red ; width:10vh;">-</button></a>
                        </td>
                    </tr>
            
                {% endfor %}
  
            </tbody>


        </table>
    </div>
{% else %}
<div class="single-contact">
    <h1 class="single-contact">
        Nenhum cadastro com esse nome 
    </h1>

</div>
{% endif %}


{% endblock content %}




